*{
    margin: 0;
    padding: 0;
}
/*******Encabezado*****/
header{
    background-color: black;
    padding: 1.5rem;
    text-align: center;
}

header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    padding: 0.3rem;
    font-family: roboto;
    margin-left: 5px;
}

header a:hover{
    color:black;
    background-color: white;
}

.navbar-list li{
    display: inline-block;  
}

/*******Cuerpo*****/

.index{
    background-image: url(img/portada1.jpg);
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
}

.Portada{
    height: 500px;
}
.Portada h1{
font-family: roboto;
font-weight: 500;
padding-top: 5rem;
text-align: center;
font-size: 100px;
color: white;
}

.Portada h2{
font-family: roboto;
font-weight: 300;
text-align: center;
font-size: 70px;
color: white;
}

.Informacion-rapida{
    width: 600px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #102c53;
    margin: auto;
    align-items: center;
    padding-top: 3rem;
    text-decoration: none;
    
}
.Container-info a{
    text-decoration: none;
    color: tomato;
    text-decoration: underline;
}

/*******PAGINA: SOBRE MI*****/


.sobremi-portada{
display: inline-block;
font-family: roboto;
font-weight: 400;
text-align: left;
padding-top: 2rem;


}

.sobremi-portada-texto{
    padding-top: 1rem;
    float: right;
    height: 700px;
    width: 300px;
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 300;
}

.sobremi-portada-texto h2{
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.sobremi-portada-texto li{
    text-align: center;
    list-style-type: none;
}

/*******PAGINA: SERVICIOS*****/
.contenido-servicios h2{
    padding: 2rem;
    text-align: center;
}

.texto-servicios-1{
    padding: 2rem;
    text-align: center;
}

.Servicios-disponibles{
    padding: 2rem;
    display: flex;
    height: 500px;
    text-align: center;
    align-items: center;
}





/*******Pie de pagina*****/
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 3rem;
}